[submodule "kern/headers"]
	path = kern/headers
	url = https://github.com/LostAttractor/dae_bpf_headers.git
[submodule "third_party/quickjs-go"]
	path = third_party/quickjs-go
	url = https://github.com/LostAttractor/quickjs-go.git
[submodule "third_party/quic-go"]
	path = third_party/quic-go
	url = https://github.com/LostAttractor/quic-go.git
[submodule "third_party/outbound"]
	path = third_party/outbound
	url = https://github.com/LostAttractor/outbound.git
[submodule "third_party/dae-config-dist"]
	path = third_party/dae-config-dist
	url = https://github.com/LostAttractor/dae-config-dist.git
