[submodule "control/kern/headers"]
	path = control/kern/headers
	url = https://github.com/daeuniverse/dae_bpf_headers
[submodule "trace/kern/headers"]
	path = trace/kern/headers
	url = https://github.com/daeuniverse/dae_bpf_headers
[submodule "third_party/quic-go"]
	path = third_party/quic-go
	url = https://github.com/LostAttractor/quic-go.git
[submodule "third_party/outbound"]
	path = third_party/outbound
	url = https://github.com/LostAttractor/outbound.git
[submodule "third_party/dae-config-dist"]
	path = third_party/dae-config-dist
	url = https://github.com/LostAttractor/dae-config-dist.git
